.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #033624;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  padding-top: 0px;
}

.section-whit {
  background: #fff;
  padding: 0px 0px;
}

.section-title { 
  color: #454545;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
}

.team-item {
  background: #f4f6f4;
  text-align: center;
  margin: 20px 0;
  padding: 50px 10px 40px 10px;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.team-item:hover {
  background: #306457;
  color: white;
}

.team-item h4 {
  margin: 20px 0 1px 0 !important;
  color: #454545;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0,25s ease-in-out;
}

.team-banner{
  display: flex;
  max-width: 100%;
}

.section-subtitle {
  white-space: pre-line;
  color: #696969;
}

.team-item:hover h4{
  color: #ddd;
}

.team-info {
  display: block;
  margin-bottom: 0;
  padding: 10px 10px 0 0;
}

.team-info p{
  color: #acacac;
  font-style: italic;
}

.team-info::after{
  background: #306457;
  background: -webkit-linear-gradient(
    135deg, #387C44 0%, #99C68E 100%
  );
  background: -o-linear-gradient(
    135deg, #387C44 0%, #99C68E 100%
  );
  background: -moz-linear-gradient(
    135deg, #387C44 0%, #99C68E 100%
  );
  background: linear-gradient(
    135deg, #387C44 0%, #99C68E 100%
  );

  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 50px;
  height: 3px;
  margin-top: -20px;
}

.team-img {
  max-width: 140px;
  padding: 6px 6px;
  background-color: #dedede;
  -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  border-radius: 50%;
}

ul.team-icon {
  margin-top: 25px;
}

ul.team-icon li{
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

ul.team-icon li a{
  margin: 0;
  display: inline-block;
  padding: 8px 8px;
  width: 34px;
  height: 34px;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
}

ul.team-icon li a.linkedin {
  background-color: blue;
}








.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contact-center {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

.form-control-card {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

button[type='submit'] {
  background-color: #033624;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;
}

button[type='submit']:hover {
  background-color: #306754;
  color: #fff;
  border: 1px solid #fff;
}

.contact__form .form-control {
  padding: 1.375rem .75rem;
  line-height: 1.5;
  color: #ffffff;
  background-color: #033624;
  border-radius: 0 !important;
  border: 1px solid #fff;
}

.img-contact {
  max-width: 300px;
  background-color: #dedede;
  -webkit-border-radius: 50%;
  -moz-border-radius:50%;
  border-radius: 4%;
}

.team-contact {
  background: #f9f9f9;
  text-align: center;
  margin: 0px 0;
  padding: 10px 10px 40px 10px;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.team-contact:hover h4{
  color: #ddd;
}

.contact__form ::placeholder {
  color: rgb(162, 162, 162);
}


.cont-team-banner {
  display: flex;
  max-width: 100%;
  margin-top: 0;
}

.no-top-margin {
  margin-top: 0;
  margin-bottom: 25px;
}
